{% extends "layout.html" %}

{% block title %}
    About StudyDocs
{% endblock %}

{% block main %}
<h2 class = "parent"><b><u>Study Docs</u></b></h2>

<div style = "font-family: Georgia, Times New Roman;">
<h4>Study Docs is a web application that serves as a centralized resource hub for academic classes at Yale.</h4>
<br>
<h4>This web app provides resources that offer in-depth explanation to concepts within each class.</h4>
<br>
<h4>This web app has a list of some majors in Yale.</h4>
<br>
<h4>On selecting the desired class, there are some resources including the syllabus to that class from previous years.</h4>
<br>
<h4>There are also links to vidoes to explain concepts better.</h4>
<br>
<h4>The resources are ideally to be submitted by students who have taken that class in the past.</h4>
</div>
{% endblock%}