{% extends "layout.html" %} {% block title %} Recommend {% endblock %} {% block main %}
<div class="container-fluid py-5 text-center">

    <h4>Thank you for submitting a recommendation for {{course.course_name}}</h4>
    <h6 class="parent">Kindly fill the form below</h6>

    <form action="/recommend" method="POST">
        <div class="form-group row">
            <label>Course</label>
            <div class="middle">
                <input name="course_id" type="hidden" readonly class="form-control-plaintext" value="{{course.id}}">
                <h6 readonly class="form-control-plaintext"><b>{{course.course_name}}</b></h6>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Resource type</label>
            <select name="s_type" class="form-control">
      <option disable selected>Select a type</option>
      <option>Video</option>
      <option>Image</option>
      <option>Document</option>
      <option>Other</option>
    </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Resource link</label>
            <input name="source" type="text" class="form-control" placeholder="If it is a video, please place the embed video link here">
            <p>Format for youtube links: https://www.youtube.com/embed/xxxxxxxxxxx</p>
        </div>
        <div class="form-group">
            <label>Resource Title (short)</label>
            <input name="s_name" type="text" class="form-control" placeholder="Please provide a short title for the resource. Eg. Memory Allocation">
        </div>
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">Resource description</label>
    <input name="s_description" type="text" class="form-control" placeholder="Please provide a description for the resource">
</div>
<div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

</div>
{% endblock %}